@{
    ViewData["Title"] = "Home Page";
}

<div class=" container text-center">
    <div>
        <h1 class="display-4" style="color: green">Smile Today...<span style="color: red">tomorrow can be worse___</span></h1>
        <br />
        <h5 style="color: blue">
            Laughter enhances your intake of oxygen-rich air, stimulates your heart, lungs and muscles,
            and increases the endorphins that are released by your brain
            ---so my friend, whenever you face a bug while coding, slow down, have a good laugh and then
            <span style="color: red">fix your bug...it's still waiting for you.</span>
        </h5>
        <hr />

        <p style="color: orangered">
            Arguing with a woman is like reading a software license agreement,
            in the end you only have three options--
            <ul style="list-style: none">
                <li style="color: green">Read it all and click “I agree”</li>
                <li style="color: orange">Ignore it all and click “I agree”</li>
                <li style="color: red">Read it or Ignore it and click disagree - Quit the relationship</li>
            </ul>
        </p>
        <br />
        <br />

        <span>
            <a class="btn btn-dark" asp-area="" asp-controller="Jokes" asp-action="Index">Go To Jokes</a> |
            <a class="btn btn-dark" asp-area="" asp-controller="Images" asp-action="Index">Memes</a>
        </span>
        <br />
        <br />
    </div>

    </div>
        <img src="/Images/home.png" class="d-block w-100 img-fluid" alt="image">
    <div>

</div>